body{
    margin : 0;
    background-image: url("data-bg.png");
    
}

img{
    opacity: 0;
}
.heading{
    text-align: center;
}
.project-button{
   height: 8em;
   width: 13em;
   border-radius: 10px;
   margin : 0.5em;
   font-weight: bold;
   font-size: large;
   margin-left: 2em;
}

footer{
    position: fixed;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
}