body{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bar rect {
    fill: black;
    shape-rendering: crispEdges;
  }

.axis{
    stroke: #000;
    shape-rendering: crispEdges;
}

svg{
    margin-top: 30px;
}